<p id="notice"><%= notice %></p>

<p>
  <strong>Pnr:</strong>
  <%= @customer.PNR %>
</p>

<p>
  <strong>Passenger name:</strong>
  <%= @customer.passenger_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.Gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @customer.Age %>
</p>

<p>
  <strong>Seat no:</strong>
  <%= @customer.Seat_no %>
</p>

<p>
  <strong>Class:</strong>
  <%= @customer.Class %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @customer.Fare %>
</p>

<p>
  <strong>Source:</strong>
  <%= @customer.Source_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @customer.Destination_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
