<h1>Welcome to indian rails 4.1.5</h1>
<h2>booking window<h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Hobby</th>
    <th>Gender</th>
    <th>dOB</th>
    <th>HAS_VEHICLE</th>
    <th>CITY</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @books.each do |book| %>
  <tr>
    <td><%= book.title.capitalize %></td>
    <td><%= book.text %></td>
    <td><%= book.hobby %></td>
    <td><%= book.gender %></td>
    <td><%= book.dob %></td>
    <td><%= book.has_vehicle%></td>
    <td><%= book.city%></td>
 </tr>
</table>
