<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @reservation.Email_id %>
</p>

<p>
  <strong>Train:</strong>
  <%= @reservation.Train_id %>
</p>

<p>
  <strong>Pnr:</strong>
  <%= @reservation.PNR %>
</p>

<p>
  <strong>Available date:</strong>
  <%= @reservation.Available_date %>
</p>

<p>
  <strong>Reservation status:</strong>
  <%= @reservation.Reservation_status %>
</p>

<p>
  <strong>Reservation date:</strong>
  <%= @reservation.Reservation_date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
