<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <font color="blue"><th>Email</th></font>
      <th>Mobile</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>
     <% kk ="4kaka" %>
     <% if is_number?(kk) %>
     <b><%= kk %></b>
     <% else %>
       <b>Error</b>
     <% end %>
     
    <tbody>
    <% @users.each do |user| %>
      
      <tr>
        <td><%= capitalize user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><font color="blue"> <%= user.email_id %></font></td>
        <td><%= user.mobile %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'New User', new_user_path %>
