<%= form_for(@consists_of) do |f| %>
  <% if @consists_of.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consists_of.errors.count, "error") %> prohibited this consists_of from being saved:</h2>

      <ul>
      <% @consists_of.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :station_ID %><br>
    <%= f.number_field :station_ID %>
  </div>
  <div class="field">
    <%= f.label :train_ID %><br>
    <%= f.number_field :train_ID %>
  </div>
  <div class="field">
    <%= f.label :stop_number %><br>
    <%= f.number_field :stop_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
